<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEnroladorWebServices" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpsBinding_IEnroladorWebServices" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50119/EnroladorWebServices.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEnroladorWebServices"
          contract="EnroladorWebServices.IEnroladorWebServices" name="BasicHttpBinding_IEnroladorWebServices" />
      <!--<endpoint address="http://tottus.baplicada.cl/EnroladorWebServices/EnroladorWebServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEnroladorWebServices"
                contract="EnroladorWebServices.IEnroladorWebServices" name="BasicHttpBinding_IEnroladorWebServices" />-->
      <!--<endpoint address="https://tottus.baplicada.cl/EnroladorWebServices/EnroladorWebServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IEnroladorWebServices"
                contract="EnroladorWebServices.IEnroladorWebServices" name="BasicHttpsBinding_IEnroladorWebServices" />-->
    </client>
  </system.serviceModel>
</configuration>